.header{
	line-height: 50px;
}
.header .logo{
	font-size: 1.6rem ;
	color: #ccc;
}

.header .logo a{
	text-decoration: none;
	color: #ccc;
}
.banner{
	background: url('../images/07.jpg') center center no-repeat;
	overflow: hidden;
	background-attachment: fixed;
	background-size: cover;
}
.banner .overlay{
	padding: 270px 0;
	/*z-index: 1000;*/
	width: 100%;
	background: rgba(255, 255, 255,0.4);
}
.banner h1 {
	font-size: 6rem !important;
}

.content img{
	width: 450px;
}
.content02 img{
	width: 100%;
}